.App {
    
   
    width: 100%;
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
}
body{
  background-color: #4158D0 ;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.sketch{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/dot.jpg);
}

.tools {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em;
    background-color: black;
    color: white;
    z-index: 100;
  }

h1 {
    margin-bottom: 1rem !important;
    text-align: center !important;
    color: white !important;
}

.btn{
    background-color: black !important;
    color: white !important;
    padding: 1em !important;
    font-size:large !important;
    border: 1px solid rgb(68, 63, 63) !important;
    border-radius: 8px !important;
    transition: transform 0.3s !important;
}
.btn:hover{
    cursor:pointer;
    animation: glow 1s infinite;
    transform: scale(1.1);
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Two equal columns for "sketch" and "ChatBox" */
  gap: 20px; /* Adjust the gap as needed */
}

input {
    margin: 0 5px !important;
    width: 100% !important;
    height: 35px !important;
}


span {
    font-size: 1.3em;
}


@keyframes glow {
    0% {
      box-shadow: 0 0 5px #00bcd4;
    }
    50% {
      box-shadow: 0 0 20px #00bcd4;
    }
    100% {
      box-shadow: 0 0 5px #00bcd4;
    }
  }
  
  .glow-on-hover {
    transition: transform 0.3s;
  }

@media screen and (max-width: 600px) {
    .tools {
        flex-direction: column;
        align-items: start;
    }


}